<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ecommerce_application.Properties.Settings.EcommerceConnectionString"
            connectionString="Data Source=YEABS;Initial Catalog=Ecommerce;Persist Security Info=True;User ID=abc"
            providerName="System.Data.SqlClient" />
        <add name="Ecommerce_application.Properties.Settings.EcommerceConnectionString1"
            connectionString="Data Source=LAPTOP-RS59N8IM;Initial Catalog=Ecommerce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>